@import "libs/reset.scss";

body{
    background: black;
    font-family: sans-serif;
    margin: 5rem;
}
.titre{
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
}
p{
    margin: 1rem;
    color: white;
    font-size:15px;
}
div{
    width: 50%;
    margin: 20px auto;
    background: honeydew;
    padding: 20px;
}
.table {
    width: 100%;
    td {
        border: solid 1px #ccc;
    }
    thead{
        background:  black;
        color: #fff;
    }
}
.theme-vert{
  
    border: solid 2px gray;
    background: rgb(207, 201, 201);
}

.btn{
    background: rgb(50, 50, 233);
    text-decoration: none;
    color: wheat;
    font-size: 20px;
    padding: 5px 35px;
    border-radius: 3px;
    
    .theme-vert &{
        background: rgb(104, 97, 202);
        color:  rgb(207, 201, 201);
        display: block;
        width: 7rem;
        text-align: center;
        padding:5px 0px;
        &:hover{
            background: rgb(60, 47, 238);
        }
    }
    &:hover{
        background: rgb(25, 25, 199);
    }
}
.call-to-action{
    @extend .btn;
    background-color: yellowgreen;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
